@font-face{
   font-family: "Quicksand";
   src: url("../fonts/Quicksand.otf");
}

body{
	background: #1c1c1c!important;
	font-family: "Quicksand";
	font-size: 1.5em;

}

@media (min-width: 768px) {
  	.modal-dialog-ticket{
      	width: 400px!important;
  	}
}

.breadcrumb{
	margin-top: 20px!important;
	font-size: 1.4em;
}

.breadcrumb a{
	cursor: pointer;
}

.btn{
	border-radius: 0!important;
}

.left_col, .nav_title, .main_container{
	background: #1c1c1c!important;
}

.nav_menu{
	background: #eaeaea!important;
	border-bottom: none!important;
}

.nav_menu_app{
	background: #547cb3!important;	
	box-shadow: 1px 2px 1px #3f69a2;
}

.top_nav .nav .open>a, .top_nav .nav .open>a:focus, .top_nav .nav .open>a:hover, .top_nav .nav>li>a:focus, .top_nav .nav>li>a:hover {
	background: none;
	color: white!important;
}	

a:hover{
	text-decoration: none;
}

.absolute{
	position:absolute;	
}

.relative{
	position:relative;	
}


.waiterName{
	bottom:-10px;
	left: 5px;
	font-size: .7em;
	color: white;
}

.btn-admin div a{
	padding:30px;
	margin-bottom:15px;
	text-align: center;
}

.btn-screen{
	padding:30px;
}

.success{
	padding:20px;
	border-radius: 5px;
}

.color-red{
	color:red;
}

.color-green{
	color:green;
}

.btn-calc div div{
	padding:2px;
}

.btn-calc div div a{
	color:white;
	width: 100%;
}

.btn-product{
	width: 100%;
	margin-bottom: 5px;
}

.alert-danger{
	color:red;
}

.alert-success{
	color:green;
}

.btn-category{
	padding:15px;
	margin:8px;
	font-size: 1.5em;
	min-width: 150px;
}

.btn-control{
	padding: 15px;
}

.btn-food-options{
	padding:15px;
}

.btn-group > .btn-info.active{
	background: #2185a0!important;
}

.label-success, .label-danger, .label-info, .label-primary, .label-warning{
	font-size: 1em;
	padding-top: 3px;
}

.logo{
	position: absolute;
	font-size: 1.8em;
	left:15px;
	font-family: Quicksand;
	color:#fff;
}

.logoAdmin{
	font-family: Quicksand;
	font-size: 1.5em;
	vertical-align: middle;
}

.side-menu a{
	font-size: 1em;
}

.child_menu a{
	font-size: 1em;
}

.products-content{
	background: #169F85;
	border-color: #169F85;
	padding:15px;
}

#subcategories{
	margin: 0px;
}

#products{
	margin: 0px;
}

.productList{
	font-size: 1.2em;
}

.productList > td{
	vertical-align: middle!important;
}

.site_title{
	font-size: 1.2em!important;
}

.label-price{
	position: absolute!important;
	top :-10px!important;
	right: -10px!important;
	font-size: .7em;
}

.label-quantity{
	position: absolute!important;
	bottom :-10px!important;
	right: -10px!important;
	top: 47px!important;
	font-size: .7em;
}

.ui-helper-hidden-accessible{
	display: none!important;
}

.ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;   
    padding: 4px 0;
    margin: 0 0 10px 25px;
    list-style: none;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
}

.ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
    text-decoration: none;
}

.ui-state-hover, .ui-state-active {
    color: #ffffff;
    text-decoration: none;
    background-color: #0088cc;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background-image: none;
}

.form-control {
    display: block;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.btn-followed{
	float: left;
}

.btn-options{
	padding-top: 34px;
	padding-bottom: 34px;
}

.price-text{
	font-size: 30px;
	height: 50px;
}

.label-control{
	border:solid 1px;
	border-radius: 5px;
	font-size: 1.5em;
	margin-bottom: .5em;
	text-align: center;
}


/************ Login ************/

.login-background{
	background: url(../img/bg.jpg) no-repeat center center fixed!important; 
  	-webkit-background-size: cover!important;
  	-moz-background-size: cover!important;
  	-o-background-size: cover!important;
	background-size: cover!important;
}

.login-page{
	background: white;
	position: absolute;
	top:50%;
	margin-top:-200px;
	border:1px solid #808080;
	padding:5px;
	margin-bottom:100px;
}

.login-page-image{
	height: 400px;
	margin: -6px;
	background: #547cb3;
	padding-top:3em;
}

.login-name{
	font-family: Quicksand;
	color: white;
	font-size: 2em;
}

.login-text{
	color:white;
}

.btn_login{
	padding:.3em;
	margin-top: 1em!important;
	border: 1px solid;
	color: #1e2537;
	background: none;
	font-size: 1.6em;	
}

.text-left{
	text-align: left!important;
}

.text-right{
	text-align: right!important;
}

.btn-back{
	position:absolute;
	right:5px;
	top:5px;
}

.noStock{
	position: absolute!important;
	bottom :-10px!important;
	left: -10px!important;
	font-size: 2em;
	color:red;
}

.btn-category-back{
	background: #c4c4c4!important;
}

.btn-home{
	padding: 5px!important;
	margin-top: 7px!important;
}

.modal-content{
	margin-top:25%!important;
}

.help{
	padding: 15px;
}

.btn-info{
	-moz-border-radius: 6px!important;
	-webkit-border-radius: 6px!important;
	text-shadow: 1px 1px 1px #2b778c!important;
	-moz-box-shadow: 0px 2px 0 #2b778c!important;
	-webkit-box-shadow: 0px 2px 0 #2b778c!important;
}

.btn-primary{
	-moz-border-radius: 6px!important;
	-webkit-border-radius: 6px!important;
	text-shadow: 1px 1px 1px #183854!important;
	-moz-box-shadow: 0px 2px 0 #183854!important;
	-webkit-box-shadow: 0px 2px 0 #183854!important;
}

.btn-success{
	-moz-border-radius: 6px!important;
	-webkit-border-radius: 6px!important;
	text-shadow: 1px 1px 1px #15705e!important;
	-moz-box-shadow: 0px 2px 0 #15705e!important;
	-webkit-box-shadow: 0px 2px 0 #15705e!important;
}

.btn-danger{
	-moz-border-radius: 6px!important;
	-webkit-border-radius: 6px!important;
	text-shadow: 1px 1px 1px #932826!important;
	-moz-box-shadow: 0px 2px 0 #932826!important;
	-webkit-box-shadow: 0px 2px 0 #932826!important;
}

.btn-warning{
	-moz-border-radius: 6px!important;
	-webkit-border-radius: 6px!important;
	text-shadow: 1px 1px 1px #cc8016!important;
	-moz-box-shadow: 0px 2px 0 #cc8016!important;
	-webkit-box-shadow: 0px 2px 0 #cc8016!important;
}

.btn-secondary{
	-moz-border-radius: 6px!important;
	-webkit-border-radius: 6px!important;
	text-shadow: 1px 1px 1px #878787!important;
	-moz-box-shadow: 0px 2px 0 #878787!important;
	-webkit-box-shadow: 0px 2px 0 #878787!important;
}

.btn-default{
	-moz-border-radius: 6px!important;
	-webkit-border-radius: 6px!important;
	text-shadow: 1px 1px 1px #666464!important;
	-moz-box-shadow: 0px 2px 0 #666464!important;
	-webkit-box-shadow: 0px 2px 0 #666464!important;
}

.btn-waiter{
	-moz-border-radius: 6px!important;
	-webkit-border-radius: 6px!important;
	text-shadow: 1px 1px 1px #000!important;
	-moz-box-shadow: 0px 2px 0 #000!important;
	-webkit-box-shadow: 0px 2px 0 #000!important;
	color: white;
	margin: 5px!important;
}

.btn-waiter:hover{
	color:white;
}

.btn-waiter.active{
	position:relative!important;
    top:3px!important;
    -moz-box-shadow:0px 3px 0!important;
    -webkit-box-shadow:0px 3px 0!important;
}

.btn-bg{
	-moz-border-radius: 6px!important;
	-webkit-border-radius: 6px!important;
	color: white;
	margin: 5px!important;
}

.btn-bg.active{
	position:relative!important;
    top:3px!important;
    -moz-box-shadow:0px 3px 0!important;
    -webkit-box-shadow:0px 3px 0!important;	
}

.btn-new{
	padding:30px;
	margin:10px;
	font-size: 1.5em;
	min-width: 240px;
}

.btn-table{
	padding:30px;
	margin:10px;
	font-size: 1.5em;
	color: black;
	min-width: 200px;
	border-radius: 0;
}

.btn:hover{
	position:relative!important;
    top:3px!important;
    -moz-box-shadow:0px 0px 0!important;
    -webkit-box-shadow:0px 0px 0!important;
}

.btn-group>.active{
	position:relative!important;
    top:3px!important;
    -moz-box-shadow:0px 0px 0!important;
    -webkit-box-shadow:0px 0px 0!important;	
}

.newTable{
	-moz-border-radius: 6px!important;
	-webkit-border-radius: 6px!important;
	font-size: 1.5em;
	padding:40px;
	color:white;
	min-width: 100px;
}

.newTable.success{
	background: #169F85!important;
	text-shadow: 1px 1px 1px #15705e!important;
	-moz-box-shadow: 0px 2px 0 #15705e!important;
	-webkit-box-shadow: 0px 2px 0 #15705e!important;
}

.newTable.danger{
	background: #C83935!important;
	text-shadow: 1px 1px 1px #932826!important;
	-moz-box-shadow: 0px 2px 0 #932826!important;
	-webkit-box-shadow: 0px 2px 0 #932826!important;
}

.newTable.circle{
	border-radius: 100%!important;
}

.newTable:hover{
	color:white;
	-moz-box-shadow: 0px 0px 0!important;
	-webkit-box-shadow: 0px 0px 0!important;
	cursor: pointer;
}

.btnDeleteTable{
	padding:3px 10px;
	background: #C83935!important;
	-moz-border-radius: 6px!important;
	-webkit-border-radius: 6px!important;
	text-shadow: 1px 1px 1px #932826!important;
	-moz-box-shadow: 0px 2px 0 #932826!important;
	-webkit-box-shadow: 0px 2px 0 #932826!important;
	cursor: pointer;
}