@font-face {
	font-family: Montserrat;
	src: url("../fonts/Montserrat-Regular.ttf");
}

body
{
	font-family: Montserrat!important;
	background: #444444;
}

.btn
{
	box-shadow: 0 5px 5px rgba(0,0,0,0.1), 0 -3px 0 rgba(0,0,0,0.1) inset;
}

.nav
{
	border-bottom: none;
	margin-left: 1em;
	margin-bottom:1px;
}

.table-container .nav-link
{
	background: #afb6bd;
	margin-right:2px;
	padding:.8em;	
	margin-right: .3em;
	border-radius: 5px 5px 0 0;
	font-weight: bold;
	color:black!important;
}

.table-container .nav-link.active
{
	background: #f8f9fa;
	color: white!important;
	font-weight: bold;
	color:#0092BB!important;
}

.nav-link
{
	padding: 1.3em;
	color: #4497CF;
}

.body
{
	background: #f8f9fa;
	margin:0 5px 5px 5px;
}

.charge
{
	padding-top:90px;
}

.details
{
	text-align: center;	
	padding:0;
	color: #0092BB;
	height: 100%;
}

.details_title
{
	color:white;
	padding:5px;
	font-size: 2em;
}

.details_title p
{
	text-shadow: 1px 3px 3px rgba(0, 0, 0, 0.71);
	margin:5px;
}

.details_table_title
{
	position: absolute;
	left:0;
	color:white;
	padding:10px;
	background: #99D48C;
	width: 100%;
}

.details_products
{
	background: #e5e5e5;
	padding: 1em;
}

.tables
{
	padding:1em;
	background: #e5e5e5;
}

.tables table
{
	width: 100%;
	text-align: center;
}

.tables table td
{
	margin:5px;
	position: relative;
}

.btn_table
{
	position: absolute;
	z-index: 1;
    top: 2.5%;
    left: 2.5%;
    width: 95%;
	height: 95%;
	padding-top: 10%;
	font-size: 500%;
	box-shadow: 0 5px 5px rgba(0,0,0,0.1), 0 -3px 0 rgba(0,0,0,0.1) inset;
	text-decoration: none!important;
	color:#5a5;
	cursor:pointer;
	color:white;
	text-shadow: 1px 3px 3px rgba(150, 150, 150, 0.71);
}

.btn_table:focus
{
	outline: none!important;
}


.btn_table_mobile span
{
	font-weight: bold;
}

.btn_table_mobile
{
	position: absolute;
	z-index: 1;
    left: 5%;
    width: 90%;
	height: 90%;
	font-size: 400%;
	box-shadow: 0 5px 5px rgba(0,0,0,0.1), 0 -3px 0 rgba(0,0,0,0.1) inset;
	text-decoration: none!important;
	color:#5a5;
	cursor:pointer;
	color:white;
	text-shadow: 1px 3px 3px rgba(150, 150, 150, 0.71);
}

.tables > .col-xs-3
{
	height: 100px;
}

.btn_table:hover
{
	background: #99d48c;
	box-shadow: 0 5px 5px rgba(0,0,0,0.1);
	transition: 0.1s linear;
}

.btn_table.occupied
{
	background: #f06c6c;
}

.btn_table.enabled
{
	background: #9AE28B;
}

.btn_table.disabled
{
	background: #b7b7b7;
	cursor: not-allowed;
}

.btn_table_mobile.occupied
{
	background: #f06c6c;
}

.btn_table_mobile.enabled
{
	background: #9AE28B;
}

.btn_table_mobile.disabled
{
	background: #b7b7b7;
	cursor: not-allowed;
}

.table_selected_border
{
    border: solid 1px #fc0;
    box-shadow: 0px 0px 20px 0px rgba(255,221,0,1)!important;
}

.table_selected
{
	background: #99d48c;
	box-shadow: 0 5px 5px rgba(0,0,0,0.1);
	transition: 0.1s linear;
}

.edited:hover .btn_table_none
{
	display: block!important;
}

.edited
{
	border:dashed 2px grey;
	text-align: center;
}

.btn_table_none
{
	text-align: center;
	width: 100%;
	background: none;
	cursor: pointer;
    color: white;
    font-size: 3.4vw;
    text-shadow: 1px 3px 3px rgba(150, 150, 150, 0.71);
    border:none;
    box-shadow:none;
}

.standard
{
	border-radius: 10px;	
	transform: border-radius 0.5s linear;
}

.circle
{
	border-radius: 50%;	
	transform: border-radius 0.5s linear;
}

.hide
{
	display: none;
	transform: 0.1s linear;
}

.show
{
	display: block;
	transform: 0.1s linear;
}

.btn-waiter
{
	box-shadow: 0 5px 5px rgba(0,0,0,0.1), 0 -3px 0 rgba(0,0,0,0.3) inset;
	color:white;
	margin: 5px;
}

.btn_delete
{
	position:absolute;
	top:0;
	right:0;
	z-index: 1;	
}

.nav-menu .nav-link
{
	padding:1em;
}

.nav-menu .nav-link.active
{
	background: #0092BB;
	color:white!important;
}

.hour
{
	color:white;
}

.hour p
{
	margin:0!important;
	padding:0!important;
	font-size: .8em;
}

.hour span
{
	margin:0!important;
	padding:0!important;
	font-size: 1.3em;
}

.buttons_rooms
{
	position: absolute;
	right: 20px;
	top:2px;
}

.btn_forms
{
	position:absolute;
	right:0;
	bottom:3px;
	z-index: 1;
}

.btn_forms a
{
	padding:5px;
	background: rgba(0,0,0,0.55);
	color:white!important;
	text-decoration: none;
}

.btn_forms a:hover
{
	background: black;
}

.menu
{
	text-align: right;
}

.products
{
	padding:1em;
}

.btn_category, .btn_products
{
	padding:1em;
	font-size: 1.5em;
	position: relative;
	margin: .3em;
}

.table_products
{
	margin-top:10px;
}

.btn_calc, .btn_back, .btn_calc_options, .btn_open_calc, .btn_open_back, .btn_close_calc, .btn_close_back
{
	margin: .2em 0;
	padding: .2em 0;
	font-size: 1.5em;
}

.price
{
	position:absolute;
	right: -10px;
	bottom: -10px;
	background: #449D44;
	border-radius: 6px;
	padding:.3em;
	font-size: .7em;
}

.btn_charge
{
	padding: 0 2em 2em 2em ;
}

.btn_charge a, .btn_charge button
{
	padding:15px;
	margin: 0.2em;
}

.text_control
{
	font-size:1.8em;
	margin-bottom: .5em;
}

.table_border
{
	border:1px solid #ddd;
}

.bg-red-color
{
	background: rgb(216,14,10); /* Old browsers */
	background: -moz-linear-gradient(45deg,  rgba(216,14,10,1) 0%, rgba(237,92,92,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg,  rgba(216,14,10,1) 0%,rgba(237,92,92,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg,  rgba(216,14,10,1) 0%,rgba(237,92,92,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d80e0a', endColorstr='#ed5c5c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.tables_occuped
{
    color: #f06c6c;
    border: 1px solid #f06c6c;
    padding: 5px 9px;
    border-radius: 50%;
}

.tables_pending
{
    color: #0764d8;
    border: 1px solid #0764d8;
    padding: 5px 9px;
    border-radius: 50%;
}

.commands_pending
{
    z-index: 2;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #0764d8;
    color: white;
    border-radius: 10px;
}

.p-0
{
	padding: 0!important;
}

.p-1
{
	padding: 1px!important;
}